
@media only screen and (max-width : 1200px)
	.container
		max-width: 992px

		&--min
			max-width: 740px

	h2
		font-size: 28px !important
		line-height: 1.4 !important
		margin-bottom: 30px !important

		br
			display: none

	.hero
		&__logo
			margin-bottom: 30px
			width: 200px

		h1
			font-size: 30px
			line-height: 1.6


		p
			font-size: 18px
			margin-bottom: 30px

			br
				display: none

		&__bg
			margin-bottom: 0

		&__title
			font-size: 20px

	.tabs
		padding-bottom: 40px

		&__item
			padding-top: 30px
			padding-bottom: 32%

		p
			font-size: 18px
			margin-bottom: 25px

		a
			font-size: 18px

		&__img
			bottom: 0
			max-height: 320px

	.slider
		padding-bottom: 60px

		&__container
			height: 400px !important

		&__slide

		&__item
			padding: 50px

		img
			max-width: 40%
	
	.raffle
		&__list
			padding-top: 40px

		&__item
			font-size: 22px
			margin-bottom: 40px
	
		&__text
			line-height: 1.4
			align-items: center
			font-size: 24px

			br
				display: none

			p
				margin-bottom: 30px

			div
				width: 68%


			&_img
				width: 30%
				height: auto
				
		&__link
			width: 100% !important

	.present p
		margin-bottom: 20px

	.free
		padding: 40px 0 80px

		h3
			font-size: 26px
			margin-bottom: 20px

		p, a
			font-size: 18px

		time
			margin-bottom: 20px

		&__content
			padding: 30px

		&__wrap
			margin-bottom: 20px

	.footer
		&__container
			flex-wrap: wrap
			justify-content: space-around


@media only screen and (max-width : 992px)
	.container
		max-width: 767px

		&--min
			max-width: 640px

	.hero
		padding: 30px 0

	.tabs
		&__list
			justify-content: space-around

		&__item
			width: 48%
			margin-bottom: 10px
			padding-bottom: 41%

	.slider
		padding-bottom: 40px

		&__container
			height: 320px !important

		&__item
			padding: 30px

			img
				max-width: 35%

		h3
			font-size: 28px

		h4
			font-size: 24px
	
	.raffle
		&__list
			padding: 40px 0

			&:nth-child(2)
				padding-left: 15px

		&__item
			padding-left: 85px
			font-size: 18px

			a
				font-size: 16px


		&__text_img
			margin-right: 2%

	.free
		p
			margin-bottom: 20px

			br
				display: none

		a, p
			font-size: 16px

		&__content, 
		&__img
			width: 100%

		&__content
			padding: 20px
			order: 1

		&__img

			img
				position: relative

		&__wrap
			width: 80%
			margin: 0 auto 30px


	.footer__logo
		margin-bottom: 10px


@media only screen and (max-width : 767px)
	.up
		width: 50px
		height: 50px
		right: 20px

		&--active
			bottom: 20px

		span
			width: 20px
			height: 20px

	h1
		font-size: 28px
		line-height: 1.4 !important

	h2
		font-size: 25px !important

		br
			display: none

	.hero
		p
			font-size: 16px

			br
				display: none

		&__title
			font-size: 18px

			br
				display: none

		&__logo
			margin: 0 auto 20px
			width: 160px

		&__container
			display: flex
			flex-direction: column
			text-align: center

		&__bg


	.tabs
		h2
			margin-bottom: 15px !important

		&__container
			padding: 0 15px

		&__item
			width: 100%
			padding: 15px

		&__img
			position: relative

	.slider
		&__container
			height: 550px !important
			
		&__item
			text-align: center
			padding: 30px 15px

		h3
			font-size: 24px
			margin-bottom: 15px

		h4
			margin-bottom: 15px

		p
			font-size: 16px

		img
			position: relative
			top: 0
			right: 0
			max-width: 100%

	.raffle
		&__wrap
			margin: 0 -15px
			&::after,
			&::before
				display: none

		&__pagination
			bottom: auto
			top: -30px

		&__list
			width: 100%
			padding: 20px 15px
			margin-bottom: 20px
			background: #F5F8FF

			&:nth-child(2)
				margin-bottom: 0

		&__item
			padding-left: 0
			text-align: center
			font-size: 20px
			margin-bottom: 20px

			&--link
				display: none

			br
				display: none

			img
				display: block
				position: relative
				margin: 0 auto

		&__link
			display: block
			a
				font-size: 20px
				padding: 20px 15px !important
				font-weight: 400

		&__text
			font-size: 20px
			text-align: center
			flex-wrap: wrap

			div
				width: 100%
				margin-bottom: 15px

			&_img
				width: 80%
				order: 1
				margin: 0 auto

		&__link
			justify-content: center
			flex-wrap: wrap

	.present
		padding: 30px 0

		p, time
			font-size: 18px


	.free
		padding-bottom: 40px

		h2
			margin-bottom: 5px

		h3
			font-size: 24px

		&__container
			display: flex
			flex-direction: column

		&__wrap
			order: 1
			margin-bottom: 0

		&__list
			position: relative
			overflow-x: auto
			padding-bottom: 60px

			&_before
				bottom: 80px

			&_link
				margin-right: 40px

				span
					flex-wrap: wrap

				time
					font-size: 16px
					margin-right: 0


@media only screen and (max-width : 576px)
	input
		height: 40px
		line-height: 40px
		padding: 0 10px

		&::placeholder
			line-height: 40px

	.modal
		padding: 20px

		h3
			font-size: 28px
			margin-bottom: 25px

		&__block
			padding: 15px
			margin-bottom: 20px

			p
				font-size: 24px

			time
				font-size: 20px
				margin-bottom: 15px

		&__line
			margin-bottom: 15px

		&--content
			padding: 0

			&__img
				margin-bottom: 0

			&__text
				padding: 15px

				p
					font-size: 20px
					margin-bottom: 15px

				a
					font-size: 24px
	
	.hero__bg
		width: 100%

	.footer
		text-align: center

		&__container
			flex-direction: column
			align-items: center

		&__logo
			margin-bottom: 10px

		p
			margin-bottom: 10px !important


@media only screen and (max-width : 480px)
	h1
		font-size: 26px !important
		margin-bottom: 15px

		br
			display: none

	h2
		font-size: 22px !important
		margin-bottom: 15px !important

	.hero
		&__logo
			width: 170px

		p
			line-height: 1.4

		&__title
			line-height: 1.4


	.present

		a
			font-size: 18px

	.slider__item
		display: flex
		flex-direction: column
		justify-content: space-around

	.free
		&__img img
			width: 100%

		&__content
			padding: 10px

		&__wrap
			width: 100%

			a
				font-size: 20px

		&__list
			padding-bottom: 75px


	.footer
		padding: 30px 0
		text-align: center

		p
			margin-bottom: 10px
			width: 100%

			a
				display: block

			span
				display: none

		&__logo
			margin-bottom: 10px

		&_soc
			margin-bottom: 0
