@import "libs"
@import "base"

.container
	max-width: 1280px
	width: 100%
	padding: 0 10px
	margin: 0 auto

	&--min
		max-width: 900px


h1
	font-size: 40px
	line-height: 62px
	margin-bottom: 25px
	color: #171717


.hero
	position: relative
	text-align: center
	padding:
		top: 35px 
		bottom: 45px
	z-index: 1

	p
		font-size: 22px
		line-height: 1.7
		color: #171717
		font-weight: 400
		margin-bottom: 45px

	&__logo
		margin-bottom: 58px

	&__bg
		display: block
		width: 84%
		margin: 0 auto 20px

	&__title
		line-height: 1.7
		font-size: 25px
		font-weight: 700


.tabs
	padding-bottom: 65px

	&__container
		padding: 0

	h2
		font-size: 33px
		line-height: 72px
		margin-bottom: 15px

	h3
		font-size: 50px
		line-height: 72px
		text-align: center
		margin-bottom: 80px

	p
		font-size: 23px
		margin-bottom: 34px

	a
		position: relative
		font-size: 18px
		color: #fff

		&:hover,
		&:focus
			img
				right: -35px
			
		img
			position: absolute
			top: 60%
			right: -25px
			transform: translate(0, -50%)
			transition: all .6s

	&__img
		position: absolute
		bottom: 15px
		right: 0
		left: 0
		z-index: -1

	&__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap

	&__item
		position: relative
		width: 32.5%
		text-align: center
		padding: 24px 20px 455px 20px
		color: #fff
		z-index: 1
		overflow: hidden
		
		img
			max-width: 100%
			display: block
			margin: 0 auto
			max-height: 60%
			max-width: 90%

		&--red
			background: linear-gradient(180deg, #C72927 0%, #F14939 100%)

		&--blue
			background: linear-gradient(0deg, #4093FF 0%, #1362C7 96.94%)

		&--green
			background: linear-gradient(1.97deg, #1BCAEE -1.92%, #07A8D1 100.38%)


.slider
	padding-bottom: 70px

	h2
		line-height: 1.4
		margin-bottom: 58px
		
	h3
		font-size: 35px
		line-height: 1
		margin-bottom: 35px

	h4
		margin-bottom: 25px
		font-weight: 500
		font-size: 25px

	p
		font-weight: 500
		font-size: 18px

	img
		position: absolute
		top: 45px
		right: 35px

	&__container
		height: 420px !important
		
	&__item
		background: linear-gradient(200.86deg, #19C7EC 1.92%, #08ABD3 84.09%)
		color: #fff
		padding: 100px 70px
		overflow: hidden

		img
			max-height: 80%
		
		&--green
			background: linear-gradient(5.49deg, #8CB937 8.38%, #A8D255 90.83%)

		&--yellow
			background: linear-gradient(5.49deg, #E9A01C 8.81%, #ECB726 90.83%)

		&--orange
			background: linear-gradient(5.49deg, #E37221 12.68%, #F48B40 90.83%)

		&--red
			background: linear-gradient(5.49deg, #C82A27 8.38%, #EF4838 90.83%)

		&--blue
			background: linear-gradient(5.49deg, #1564CA 8.38%, #3387F4 90.83%)


.raffle

	h2
		margin-bottom: 60px
		line-height: 1

	&__pagination
		display: none

	@keyframes hover
		0%
			transform: translate(0, 0)
		50%
			transform: translate(0, -30px)
		100%
			transform: translate(0, 0)

	&__wrap
		position: relative
		overflow: inherit
		display: flex
		justify-content: space-between
		flex-wrap: wrap

		&::before,
		&::after
			content: ''
			display: block
			width: 1000%
			position: absolute
			top: 0
			bottom: 0
			background: #F5F8FF
			border-radius: 10px
			z-index: -1

		&::before
			right: 51%

		&::after
			left: 51%


	&__list
		width: 49%
		padding:
			top: 85px 
			bottom: 55px

		&:nth-child(2)
			padding-left: 35px

	&__item
		position: relative
		padding-left: 84px
		margin-bottom: 75px
		font-weight: 500
		font-size: 25px
		line-height: 1.6

		&:hover,
		&:focus
			animation: hover 1.8s ease-in infinite

		&:last-child
			margin-bottom: 0

		&--link
			padding-left: 0 !important

			&:hover,
			&:focus
				animation: none

		img
			position: absolute
			top: 0
			left: 0
			transform: scale(.8)

		a
			display: block
			padding-top: 30px
			font-size: 19px
			color: #526796
			text-decoration: underline

	&__link
		display: none
		

.present
	padding: 45px 0 35px
	background: linear-gradient(180deg, #3084F0 0%, #3083F0 0.01%, #1969CF 98.96%)
	color: #fff
	text-align: center

	h2
		margin-bottom: 30px

	time, p
		font-size: 23px

	time
		display: block
		margin-bottom: 15px

	p
		margin-bottom: 47px

	img
		margin-right: 15px
		transition: all .6s

	a
		position: relative
		font-size: 20px
		font-weight: 500
		color: #fff

		&:hover,
		&:focus
			color: #fff

			img
				right: -35px

		img
			position: absolute
			top: 50%
			right: -25px
			transform: translate(0, -50%)
			margin-right: 0
			width: 15px


.free
	padding: 
		top: 70px
		bottom: 83px
	background: #F2F6FF

	h2
		line-height: 1.4
		margin-bottom: 70px

	h3
		font-size: 35px
		line-height: 1.5
		margin-bottom: 15px

	p
		font-size: 21px
		margin-bottom: 25px
		line-height: 1.5

		a
			color: #E0444A

			&:hover,
			&:focus
				text-decoration: underline
				color: #E0444A

	time
		display: flex
		align-items: center
		line-height: 1
		font-size: 18px
		color: #B7C1D8
		margin-bottom: 35px

		img
			margin-right: 10px
			width: 20px

	&__sub-title
		font-weight: 700
		text-align: center
		font-size: 20px !important
		margin-bottom: 40px !important
	
	&__wrap
		display: flex
		flex-wrap: wrap
		background: #FFFFFF
		border-radius: 10px
		overflow: hidden
		margin-bottom: 30px

		a
			position: relative

			&:hover,
			&:focus
				img
					right: -35px
				
			img
				position: absolute
				top: 55%
				right: -25px
				left: auto
				transform: translate(0, -50%)
				transition: all .6s
				width: 10px
	
	&__content,
	&__img
		width: 50%

	&__img
		position: relative
		overflow: hidden
		background: #E1E7F6

		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%

	&__content
		padding: 55px 25px 50px 25px

	&__link
		color: #526796
		font-weight: 500
		font-size: 25px

		&:hover,
		&:focus
			color: #526796

	&__list
		position: relative
		display: flex
		justify-content: space-between
		z-index: 1
		color: #fff

		&_before
			display: block
			position: absolute
			bottom: 20px
			left: 50%
			transform: translate(-50%, 0)
			height: 1px
			width: 100%
			background-color: #B6C7E9
			z-index: -1

		time
			display: inline
			margin-bottom: 0
			font-weight: 300
			color: #fff
			font-size: 14px
			margin-right: 15px
			margin-bottom: 5px

		img
			width: 13px !important
			margin-right: 8px !important


		&_link

			a
				display: block
				width: 45px
				height: 45px
				border-radius: 50%
				background-color: #fff
				border: 1px solid #CFDFFF
				text-align: center
				line-height: 45px
				color: #526796
				font-size: 14px
				font-weight: 700
				transition: all .6s

			&:hover,
			&:focus
				span
					opacity: 1
					z-index: 1
			
			span
				position: absolute
				top: -80px
				display: flex
				flex-direction: column
				margin-left: -32px
				background-color: #5E8EF5
				padding: 10px 15px
				font-size: 18px
				line-height: 1.4
				border-radius: 5px
				text-align: left
				opacity: 0
				z-index: -1
				transition: all .6s

				&::before
					content: ''
					position: absolute
					top: 100%
					left: 55px
					border-bottom: 11px solid transparent
					border-left: 6px solid transparent
					border-right: 6px solid transparent
					border-top: 11px solid #5E8EF5

				a
					border-radius: 5px
					background: #3B6EDA
					color: #fff
					border: none
					width: auto
					height: 30px
					line-height: 30px
					padding: 0 30px
					font-weight: 400
					transition: all .7s

					&:hover,
					&:focus
						box-shadow: 0 0 10px 0 rgba(#3B6EDA, 1)
			
			p
				font-size: 16px
				margin-bottom: 0
				margin-right: 10px

			div
				display: flex
				align-items: flex-end

		&_off

			a
				background: #E0444A
				border: 1px solid #E0444A
				color: #fff

				&:hover,
				&:focus
					color: #fff

			span
				position: absolute
				top: -80px
				display: block
				margin-left: -32px
				background-color: #E0444A
				padding: 10px 15px
				font-size: 17px
				line-height: 1.4
				border-radius: 5px
				text-align: left
				opacity: 0
				transition: all .6s

				&::before
					content: ''
					position: absolute
					top: 100%
					left: 55px
					border-bottom: 11px solid transparent
					border-left: 6px solid transparent
					border-right: 6px solid transparent
					border-top: 11px solid #E0444A

		&_on
			position: relative

			a
				background: #DCE7FF
				border: 1px solid #DCE7FF
				color: #B4C5E8

				&:hover,
				&:focus
					color: #B4C5E8

			img
				position: absolute
				width: 16px
				bottom: -35px
				left: 50%
				transform: translate(-50%, 0)


.footer
	padding: 22px 0
	color: #1E1E1E
	background-color: #fff


	p
		font-size: 16px
		margin-bottom: 10px

		&:last-child
			margin-bottom: 0

		img
			margin-right: 8px

	a
		font-size: 17px
		font-weight: 600
		color: #1E1E1E

	span
		display: inline-block
		width: 1px
		height: 21px
		background-color: #000
		margin: 0 8px -5px

	&__container
		display: flex
		justify-content: space-between
	
	&__logo
		width: 100px

		img
			width: 100%

	&__soc
		display: flex
		justify-content: space-between

		a
			position: relative
			display: block
			width: 45px
			height: 45px
			background-color: #ECF0FD
			margin-right: 20px
			border-radius: 50%
			color: #1E1E1E

			&:hover,
			&:focus
				img
					transform: translate(-50%, -50%) scale(.8)


			&:last-child
				margin-right: 0

		img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			transition: all .6s


.up
	position: fixed
	bottom: -100px
	right: 50px
	width: 60px
	height: 60px
	border-radius: 50%
	background-color: #fff
	box-shadow: 0 0 7px 0 rgba(#000, .4)
	transition: all .6s
	z-index: 100

	&--active
		bottom: 50px

	span
		position: absolute
		top: 55%
		left: 50%
		transform: translate(-50%, -50%) rotate(45deg)
		display: block
		width: 20px
		height: 20px
		border-top: 5px solid #e0444a
		border-left: 5px solid #e0444a


@import "media" // Always at the end